<section class="section-intro">
  <h2 class="main-heading">{{title}}</h2>
  <p class="main-subtitle">{{subtitle}}</p>
</section>

<form class="search" action="/arts/search" method="GET">
  <div class="search-bar-container">
    <div class="select-input search">
      <select class="search-bar" id="art-type" name="artType" required>
        <option value="" disabled selected>Selecciona el tipo de arte</option>
        <option value="Pintura">Pintura</option>
        <option value="Fotografía">Fotografía</option>
        <option value="Escultura">Escultura</option>
        <option value="Ilustración">Ilustración</option>
        <option value="Collage">Collage</option>
      </select>
    </div>
    <button type="submit" class="btn-filled btn-search" placeholder="Pintura">Buscar</button>
  </div>
</form>

<section class="art-list">
  {{#each arts}}
  <article class="card">
    <img class="card-image" src="{{image}}">
    <form class="favorites-form" action="/arts/{{_id}}/favorite-art" method="POST">

      {{#if ../currentUser}}
      <button class="favorites-btn" type="submit"><img class="favorites-btn-icon" src="/images/heart-empty-icon.svg"
          alt="Añadir a favoritos icon">Añadir a favoritos</button>
      {{/if}}
    </form>
  </article>
  {{/each}}
</section>