<h2>{{title}}</h2>
<p class="home-description">Welcome to {{title}}</p>

<section class="art-list">
  {{#each arts}}
  <article>
    <img src="{{image}}">
    <form class="favorites-form" action="/arts/{{_id}}/favorite-art" method="POST">
      <button class="favorites-btn" type="submit">Añadir a favoritos</button>
    </form>
  </article>
  {{/each}}

</section>

{{!-- <script src="../javascripts/main.js"></script> --}}