<h2>{{title}}</h2>
<p class="home-description">Welcome to {{title}}</p>

<section class="art-list">
  {{#each arts}}
  <article>
    <p>{{title}}</p>
    <p>{{author}}</p>
  </article>
  {{/each}}

</section>