<section class="section-intro">
  <h2 class="main-heading">{{title}}</h2>
  <p class="main-subtitle">{{subtitle}}</p>
</section>

<section class="art-list">
  {{#each arts}}
  <article class="card">
    <img class="card-image" src="{{image}}">
    <form class="favorites-form" action="/arts/{{_id}}/favorite-art" method="POST">
      <button class="favorites-btn" type="submit">Añadir a favoritos</button>
    </form>
  </article>
  {{/each}}

</section>

{{!-- <script src="../javascripts/main.js"></script> --}}