<!doctype html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/stylesheets/fontface.css" />
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header class="header">
    <nav class="header-navbar">
      <h1><a class="header-brand-logo" href="/"><img src="/images/artefacts-logo.svg" alt="Artefacts brand logo"></a>
      </h1>
      <ul class="navbar-list">
        {{#unless currentUser}}
        <li class="navbar-list-item">
          <a href="/auth/signup" class="navbar-list-link signup-btn">Sign up</a>
        </li>
        <li class="navbar-list-item">
          <a href="/auth/login" class="navbar-list-link login-btn">Login</a>
        </li>
        {{/unless}}
        {{#if currentUser}}
        <li class="navbar-list-item">
          <a class="create-art-btn" href="/arts/create-art">Subir arte</a>
        </li>
        <li class="navbar-list-item">
          <form action="/auth/logout" method="POST">
            <button class="logout-btn" type="submit">Logout</button>
          </form>
        </li>
        <li class="navbar-list-item">
          <a href="/users/profile" class="navbar-list-link profile-btn">Profile</a>
        </li>
        {{/if}}
      </ul>
    </nav>
  </header>
  <main class="main-content">
    {{{body}}}
  </main>
  <footer class="footer">
    <div class="footer-brand">
      <a class="footer-brand-logo" href="/"><img src="/images/artefacts-logo-w.svg" alt="Artefacts brand logo"></a>
    </div>
    <div class="footer-credits">
      <ul class="footer-list">
        <li class="footer-list-item"><a class="footer-list-link"
            href="https://www.ironhack.com/en/locations/barcelona">Ironhack</a></li>
        <li class="footer-list-item"><a class="footer-list-link" href="https://github.com/JorgeRic">Jorge Rico</a> & <a
            class="footer-list-link" href="https://github.com/annacv">Anna Condal</a></li>
        <li class="footer-list-item"><a class="footer-list-link" href="https://github.com/JorgeRic/ArteFacts">Github</a>
        </li>
      </ul>
    </div>
  </footer>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>