<form action="auth/signup" method="POST">
<label for="username">Username</label>
<input type="text" id="username" name="username" required placeholder="username">
<label for="password">Password</label>
{{!-- //El id se referencia con el for del label --}}
{{!-- el name es la key que se pondrá en el body cuando se envie al servidor y el value es el value que el usurio haya puesto en el input --}}
<input type="text" id="password" name="password" required placeholder="passport">

</form>