<section class="section-intro">
  <h2 class="main-heading">Regístrate y artefacta</h2>
</section>

<form action="/auth/signup" method="POST">
  <div class="form-grup">
    <label for="username">Username</label>
    {{#if formData.length}}
    <input type="text" name="username" id="username" placeholder="Username" value="{{formData.[0]}}">
    {{else}}
    <input type="text" name="username" id="username" placeholder="Username">
    {{#if messages.length}}
    <ul class="validation">
      {{#each messages}}<li>{{this}}</li>{{/each}}
    </ul>
    {{/if}}
    {{/if}}
  </div>
  <div class="form-grup">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password">
    {{#if messages.length}}
    <ul class="validation">
      {{#each messages}}<li>{{this}}</li>{{/each}}
    </ul>
    {{/if}}
  </div>
  <button type="submit">Sign up!</button>
</form>